<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome ( < . < )</title> 
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="welcome-page">
        <div class="content">
            <p>Welcome </><span>to </span><span>ExpressJS </span><span>with </span><span>TypeScript </span><span>language
                </span><span>restfulAPI</span></p>
        </div>
        <div class="right-vert-line"></div>
        <div class="left-vert-line"></div>
        <div class="greeting">
            <p>Welcome back, user!</p>
        </div>
        <a href="http://aroin.ir" class="gameButton">Aroin</a>
        <a class="statsButton">Home Page</a>
        <a href="https://h4mit.github.io" class="logoutButton">@H4mit</a>



</body>

</html>